In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (2.1.3)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd 
print(pd.__version__)

2.1.3

# what can we do with this package?
- series and data frames
- Conditional filtering and useful methods
- Missing data
- Group by operations
- Combining data frames
- Text methods and Time methods
- Input and Outputs

In [3]:
# SERIES 
# This is a data structure in pandas that holds an array of information along with a named index.
# the named index differitiates this from a simple numpy array
# Formal defn. One-Dimension nd array with axis labels

In [4]:
import numpy as np
import pandas as pd

In [6]:
# help(pd.Series)

In [7]:
myindex = ['USA', 'Canada', 'Mexico', 'Uganda']

mydata = [1023, 4523, 5600, 5737]

In [10]:
my_series = pd.Series(data=mydata, index=myindex)

In [11]:
my_series

USA       1023
Canada    4523
Mexico    5600
Uganda    5737
dtype: int64

In [14]:
my_series['Uganda']

5737

In [15]:
# using dictionaries 
age = {'Sam': 4, 'Mary': 6, "John": 7, 'Dad': 30}

In [20]:
agser = pd.Series(age)
agser

Sam      4
Mary     6
John     7
Dad     30
dtype: int64

In [19]:
agser["Dad"]

30

In [21]:
len(agser)

4

In [22]:
agser

Sam      4
Mary     6
John     7
Dad     30
dtype: int64

In [23]:
agser.keys()

Index(['Sam', 'Mary', 'John', 'Dad'], dtype='object')

In [26]:
#broadcasting operation.

np.array([1,2]) * 2

array([2, 4])

In [27]:
agser / 100

Sam     0.04
Mary    0.06
John    0.07
Dad     0.30
dtype: float64

# Data frames 
- this is a table of columns and rows in pandas that we can easily restructure and filter
- Formal Defn: A group of pandas series objects that share the same index.

In [30]:
# creating a dataframe 
np.random.seed(101)
mydata = np.random.randint(0,101, (4,3))
mydata

array([[95, 11, 81],
       [70, 63, 87],
       [75,  9, 77],
       [40,  4, 63]])

In [36]:
myindex = ['CA', 'NY', 'UG', 'TZ']

In [32]:
my_columns = ['Jan', 'Feb', 'Mar']

In [37]:
dataframe = pd.DataFrame(mydata, myindex, my_columns)
dataframe

    Jan  Feb  Mar
CA   95   11   81
NY   70   63   87
UG   75    9   77
TZ   40    4   63

In [38]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, CA to TZ
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Jan     4 non-null      int32
 1   Feb     4 non-null      int32
 2   Mar     4 non-null      int32
dtypes: int32(3)
memory usage: 80.0+ bytes

# Reading CSV Files

In [42]:
pwd

'C:\\Users\\HP\\Desktop\\CS\\Projects\\Machine_learning\\ML_Basics'

In [44]:
ls

 Volume in drive C has no label.
 Volume Serial Number is C848-016E

 Directory of C:\Users\HP\Desktop\CS\Projects\Machine_learning\ML_Basics

01/27/2024  09:47 PM    <DIR>          .
01/27/2024  09:47 PM    <DIR>          ..
01/27/2024  01:02 PM    <DIR>          .ipynb_checkpoints
01/27/2024  03:34 PM            16,532 Natural Language Processing.ipynb
01/27/2024  08:36 PM            28,969 numpy_notebook.ipynb
01/27/2024  09:47 PM            12,621 pandas_notebook.ipynb
               3 File(s)         58,122 bytes
               3 Dir(s)  315,823,063,040 bytes free

In [51]:
# importing and reading csv files 

df = pd.read_csv('C:\\Users\\HP\\Desktop\\CS\\Projects\\Datasets\\diabetes.csv')

In [50]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [52]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [53]:
df.index

RangeIndex(start=0, stop=768, step=1)

In [55]:
df.head(20)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1
10,4,110,92,0,0,37.6,0.191,30,0
11,10,168,74,0,0,38.0,0.537,34,1
12,10,139,80,0,0,27.1,1.441,57,0
13,1,189,60,23,846,30.1,0.398,59,1
14,5,166,72,19,175,25.8,0.587,51,1
15,7,100,0,0,0,30.0,0.484,32,1
16,0,118,84,47,230,45.8,0.551,31,1
17,7,107,74,0,0,29.6,0.254,31,1
18,1,103,30,38,83,43.3,0.183,33,0
19,1,115,70,30,96,34.6,0.529,32,1

In [56]:
df.tail(8)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
760,2,88,58,26,16,28.4,0.766,22,0
761,9,170,74,31,0,44.0,0.403,43,1
762,9,89,62,0,0,22.5,0.142,33,0
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [59]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [61]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Pregnancies,768.0,3.845052,3.369578,0.000,1.00000,3.0000,6.00000,17.00
Glucose,768.0,120.894531,31.972618,0.000,99.00000,117.0000,140.25000,199.00
BloodPressure,768.0,69.105469,19.355807,0.000,62.00000,72.0000,80.00000,122.00
SkinThickness,768.0,20.536458,15.952218,0.000,0.00000,23.0000,32.00000,99.00
Insulin,768.0,79.799479,115.244002,0.000,0.00000,30.5000,127.25000,846.00
BMI,768.0,31.992578,7.884160,0.000,27.30000,32.0000,36.60000,67.10
DiabetesPedigreeFunction,768.0,0.471876,0.331329,0.078,0.24375,0.3725,0.62625,2.42
Age,768.0,33.240885,11.760232,21.000,24.00000,29.0000,41.00000,81.00
Outcome,768.0,0.348958,0.476951,0.000,0.00000,0.0000,1.00000,1.00

In [62]:
df.transpose()

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
Pregnancies,6.000,1.000,8.000,1.000,0.000,5.000,3.000,10.000,2.000,8.000,...,1.000,6.000,2.000,9.000,9.000,10.000,2.00,5.000,1.000,1.000
Glucose,148.000,85.000,183.000,89.000,137.000,116.000,78.000,115.000,197.000,125.000,...,106.000,190.000,88.000,170.000,89.000,101.000,122.00,121.000,126.000,93.000
BloodPressure,72.000,66.000,64.000,66.000,40.000,74.000,50.000,0.000,70.000,96.000,...,76.000,92.000,58.000,74.000,62.000,76.000,70.00,72.000,60.000,70.000
SkinThickness,35.000,29.000,0.000,23.000,35.000,0.000,32.000,0.000,45.000,0.000,...,0.000,0.000,26.000,31.000,0.000,48.000,27.00,23.000,0.000,31.000
Insulin,0.000,0.000,0.000,94.000,168.000,0.000,88.000,0.000,543.000,0.000,...,0.000,0.000,16.000,0.000,0.000,180.000,0.00,112.000,0.000,0.000
BMI,33.600,26.600,23.300,28.100,43.100,25.600,31.000,35.300,30.500,0.000,...,37.500,35.500,28.400,44.000,22.500,32.900,36.80,26.200,30.100,30.400
DiabetesPedigreeFunction,0.627,0.351,0.672,0.167,2.288,0.201,0.248,0.134,0.158,0.232,...,0.197,0.278,0.766,0.403,0.142,0.171,0.34,0.245,0.349,0.315
Age,50.000,31.000,32.000,21.000,33.000,30.000,26.000,29.000,53.000,54.000,...,26.000,66.000,22.000,43.000,33.000,63.000,27.00,30.000,47.000,23.000
Outcome,1.000,0.000,1.000,0.000,1.000,0.000,1.000,0.000,1.000,1.000,...,0.000,1.000,0.000,1.000,0.000,0.000,0.00,0.000,1.000,0.000

### Retrieving information from a dataframe

In [63]:
## Colunms 

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [66]:
# lets say we're only interested in doing operations on Pregnancies column.
type(df['Pregnancies'])

pandas.core.series.Series

In [68]:
# grabing a list of columns 

df[['BMI', 'Glucose', 'Insulin']]

      BMI  Glucose  Insulin
0    33.6      148        0
1    26.6       85        0
2    23.3      183        0
3    28.1       89       94
4    43.1      137      168
..    ...      ...      ...
763  32.9      101      180
764  36.8      122        0
765  26.2      121      112
766  30.1      126        0
767  30.4       93        0

[768 rows x 3 columns]

In [74]:
# creating new columns eg DiabetesPedigreeFunction_In_%age
# df.head(20)
100 * df['DiabetesPedigreeFunction']

0       62.7
1       35.1
2       67.2
3       16.7
4      228.8
       ...
763     17.1
764     34.0
765     24.5
766     34.9
767     31.5
Name: DiabetesPedigreeFunction, Length: 768, dtype: float64

In [75]:
df['DiabetesPedigreeFunction_In_%age'] = 100 * df['DiabetesPedigreeFunction']

In [76]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,DiabetesPedigreeFunction_In_%age
0,6,148,72,35,0,33.6,0.627,50,1,62.7
1,1,85,66,29,0,26.6,0.351,31,0,35.1
2,8,183,64,0,0,23.3,0.672,32,1,67.2
3,1,89,66,23,94,28.1,0.167,21,0,16.7
4,0,137,40,35,168,43.1,2.288,33,1,228.8

In [77]:
type(df['DiabetesPedigreeFunction_In_%age'])

pandas.core.series.Series

In [79]:
# Removing columns df.drop()

df.drop('DiabetesPedigreeFunction_In_%age', axis=1)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [80]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,DiabetesPedigreeFunction_In_%age
0,6,148,72,35,0,33.6,0.627,50,1,62.7
1,1,85,66,29,0,26.6,0.351,31,0,35.1
2,8,183,64,0,0,23.3,0.672,32,1,67.2
3,1,89,66,23,94,28.1,0.167,21,0,16.7
4,0,137,40,35,168,43.1,2.288,33,1,228.8
...,...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0,17.1
764,2,122,70,27,0,36.8,0.340,27,0,34.0
765,5,121,72,23,112,26.2,0.245,30,0,24.5
766,1,126,60,0,0,30.1,0.349,47,1,34.9
767,1,93,70,31,0,30.4,0.315,23,0,31.5

In [81]:
# permanent droping 

df = df.drop('DiabetesPedigreeFunction_In_%age', axis=1)

In [82]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [84]:
df.shape

(768, 9)

In [85]:
df.index

RangeIndex(start=0, stop=768, step=1)

In [91]:
# grabbing rows using integer locations ---- df.iloc

### ----- using labelled locations  ----> df.loc

df.iloc[767]

Pregnancies                  1.000
Glucose                     93.000
BloodPressure               70.000
SkinThickness               31.000
Insulin                      0.000
BMI                         30.400
DiabetesPedigreeFunction     0.315
Age                         23.000
Outcome                      0.000
Name: 767, dtype: float64

In [92]:
df.iloc[2:8]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0

In [97]:
selected_rows = df.iloc[0:50]
selected_rows

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1
10,4,110,92,0,0,37.6,0.191,30,0
11,10,168,74,0,0,38.0,0.537,34,1
12,10,139,80,0,0,27.1,1.441,57,0
13,1,189,60,23,846,30.1,0.398,59,1
14,5,166,72,19,175,25.8,0.587,51,1
15,7,100,0,0,0,30.0,0.484,32,1
16,0,118,84,47,230,45.8,0.551,31,1
17,7,107,74,0,0,29.6,0.254,31,1
18,1,103,30,38,83,43.3,0.183,33,0
19,1,115,70,30,96,34.6,0.529,32,1
20,3,126,88,41,235,39.3,0.704,27,0
21,8,99,84,0,0,35.4,0.388,50,0
22,7,196,90,0,0,39.8,0.451,41,1
23,9,119,80,35,0,29.0,0.263,29,1
24,11,143,94,33,146,36.6,0.254,51,1
25,10,125,70,26,115,31.1,0.205,41,1
26,7,147,76,0,0,39.4,0.257,43,1
27,1,97,66,15,140,23.2,0.487,22,0
28,13,145,82,19,110,22.2,0.245,57,0
29,5,117,92,0,0,34.1,0.337,38,0
30,5,109,75,26,0,36.0,0.546,60,0
31,3,158,76,36,245,31.6,0.851,28,1
32,3,88,58,11,54,24.8,0.267,22,0
33,6,92,92,0,0,19.9,0.188,28,0
34,10,122,78,31,0,27.6,0.512,45,0
35,4,103,60,33,192,24.0,0.966,33,0
36,11,138,76,0,0,33.2,0.420,35,0
37,9,102,76,37,0,32.9,0.665,46,1
38,2,90,68,42,0,38.2,0.503,27,1
39,4,111,72,47,207,37.1,1.390,56,1
40,3,180,64,25,70,34.0,0.271,26,0
41,7,133,84,0,0,40.2,0.696,37,0
42,7,106,92,18,0,22.7,0.235,48,0
43,9,171,110,24,240,45.4,0.721,54,1
44,7,159,64,0,0,27.4,0.294,40,0
45,0,180,66,39,0,42.0,1.893,25,1
46,1,146,56,0,0,29.7,0.564,29,0
47,2,71,70,27,0,28.0,0.586,22,0
48,7,103,66,32,0,39.1,0.344,31,1
49,7,105,0,0,0,0.0,0.305,24,0

In [98]:
type(selceted_rows)

pandas.core.frame.DataFrame

In [99]:
selected_rows.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000
mean,5.420000,127.380000,69.180000,19.060000,81.540000,31.258000,0.520820,37.280000,0.500000
std,3.505622,32.597039,22.603675,16.714176,153.142619,9.117601,0.428392,11.514038,0.505076
min,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.134000,21.000000,0.000000
25%,2.250000,103.000000,64.500000,0.000000,0.000000,27.175000,0.254000,29.000000,0.000000
50%,5.500000,118.500000,72.000000,23.000000,0.000000,31.350000,0.409000,33.000000,0.500000
75%,8.000000,146.750000,81.500000,33.000000,113.750000,37.475000,0.586750,47.500000,1.000000
max,13.000000,197.000000,110.000000,47.000000,846.000000,45.800000,2.288000,60.000000,1.000000

In [100]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

# Conditional Filtering

In [101]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [103]:
df[df['Glucose'] > 100]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
2,8,183,64,0,0,23.3,0.672,32,1
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
7,10,115,0,0,0,35.3,0.134,29,0
...,...,...,...,...,...,...,...,...,...
761,9,170,74,31,0,44.0,0.403,43,1
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1

In [108]:
# wine_data = pd.read_csv('C:\\Users\\HP\\Desktop\\CS\\Projects\\Datasets\\wine.data')
# wine_data

In [109]:
# wine_data.info()

In [114]:
# multiple conditions 
# & - and 
# | - or 


df[(df['Glucose'] > 150) & (df['BloodPressure'] < 50 )]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
300,0,167,0,0,0,32.3,0.839,30,1
332,1,180,0,0,0,43.3,0.282,41,1
604,4,183,0,0,0,28.4,0.212,36,1